.wrapper{
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input{
  width: 30%;
  height: 40px;
}

.inner-wrapper{
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner-wrapper img{
  margin: 30px;
}

.inner-wrapper span{
  visibility:hidden;
  margin: none;
  position: absolute;
}
